@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
        -table
        -form
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        -nav
        -hero
        -img
        -content
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Screen reader	    
--------------------------------------------------------------*/



/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */
* {
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

 
/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */
/*------ Typography------- */
i {
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
    text-align: left;
    color: #FE8360;
}


/*------ Table------- */

/*------Form------- */


/*--------------------------------------------------------------
    5.0 - Objects
-------------------------------------------------------------- */

/* ----- Framework ----- */
.wrapper {
    width: 1024px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}


/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */

/* ----- HERO ----- */



/* ----- Images----- */



/* ----- Nav ----- */
nav li {
    margin: 0 20px;
    text-decoration: none;
}

body > header > div nav li {
    display: inline-block;
}

body > header > div nav {
    width: 485px;
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    padding: 5px 6px;
}





/* ----- Content ----- */



/*--------------------------------------------------------------
    7.0 - UTILITY
-------------------------------------------------------------- */

/* ----- Screen Reader ----- */
