@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
        -table
        -form
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        -nav
        -hero
        -img
        -content
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Screen reader	    
--------------------------------------------------------------*/



/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */
* {
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
}

 
/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */
/*------ Typography------- */
#support-items {
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
}

#support-items li:last-child {
    border-left:#3F3C45 solid 1px;
    padding-left: 16px;
    margin-left: 16px;
}

#support-items a {
    font-weight: 400;
    color:#3F3C45;  
    text-decoration: none;
    padding-left: 5px;
}

#hero > div {
    margin: 0 auto;
    width: 200px;
    text-align: center;
}




/*------font awesome------ */
i {
    font-size: 50px;
    line-height: 50px;
}

legend i, i {
    font-weight: 900;
    color: #FE8360;
}

legend i {
    font-size: 20px;
    line-height: 20px;
}

footer > div i {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #b6bcc7;
}


/*------ Table------- */

/*------Form------- */


/*--------------------------------------------------------------
    5.0 - Objects
-------------------------------------------------------------- */

/* ----- Framework ----- */
.wrapper {
    width: 1024px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}


/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */

/* ----- HERO ----- */



/* ----- Images----- */
#hero {
    background: url(../img/laptop-hero-img.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    padding: 120px 0;
}

.background {
    background: url(../img/woman-on-laptop-img.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    height: 358px;
    width: 337px;
}


/* ----- Nav ----- */
header nav a {
    text-decoration: none;
    padding: 15px 20px;
    background-color: #FE8360;
    text-decoration: none;
    font-weight: 700;
    color: #ffff;
}

#navigation-items {
    margin-top: 25px;
    width: 281px;
}

#navigation-items ul {
    background-color: #FE8360;
    padding: 16px 0;
}

header nav a:hover {
    background-color: #51CCF6;
}

header nav a:hover,
header nav a {
    transition: 1s;
}


/* ----- Content ----- */
header .row .row {
    width: 324px;
    flex-direction: column;
    align-items: flex-end;
}

header li {
    display: inline-block;
}

header ul {
    text-align: right;
}



#section-moving {
    width: 625px;
}




/*--------------------------------------------------------------
    7.0 - UTILITY
-------------------------------------------------------------- */

/* ----- Screen Reader ----- */
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}